:root {
    --color-primario: #007bff;
    /* Azul primario */
    --color-secundario: #333;
    /* Color de texto oscuro */
    --color-fondo: #f2f2f2;
    /* Fondo claro */
    --color-btn-register: #007bff;
    /* Color para el botón de registro */
}

/* Estilos Generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 1.2em;
}

.navbar-brand i {
    color: var(--color-btn-register);
    margin-right: 8px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links .nav-link {
    color: var(--color-secundario);
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.navbar-links .nav-link:hover {
    color: var(--color-btn-register);
}

.navbar-links .btn-register {
    background-color: var(--color-btn-register);
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links .btn-register:hover {
    background-color: #0056b3;
}

/* Login Container */
.login-container {
    display: flex;
    width: 800px;
    height: 500px;
    margin: 50px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container {
    flex: 1;
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--color-btn-register);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.register-link a {
    color: var(--color-btn-register);
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.form-container i {
    color: var(--color-secundario);
    margin-bottom: 10px;
}
